<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CytoSmart.LuxLogic.Files.ExperimentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CytoSmart.LuxLogic.Files.ExperimentSettings>
      <setting name="Guid" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="StartTimeStamp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Active" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="IntervalInSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStopInMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="TokenKey" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </CytoSmart.LuxLogic.Files.ExperimentSettings>
  </userSettings>
</configuration>